* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0 auto;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.header {
  width: 100%;
  background: #F6F6F9;
  border-top: 4px solid #295093;
}

.header__block {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo--info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logojon__info {
  color: #7A7A7A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logojon__info::first-letter {
  color: #285193;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__logo--link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.find__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #FFF;
  padding: 8px;
}

.language__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 5px;
  background: #FFF;
  padding: 8px;
}

.tg__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 146px;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(90deg, #1E96C8 0%, #37AEE2 100%);
  border: none;
}
.tg__btn a {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header__navbar {
  margin: 40px 0px 20px 0px;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: #FFF;
  padding: 20px;
}

.item__link {
  color: #515151;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.covid__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.nrg__add {
  width: 1200px;
  height: 99px;
}

.covid__info {
  display: flex;
  align-items: center;
  height: 133px;
  border-radius: 5px;
  background: #F6F6F9;
  padding: 0px 64px 0px 64px;
  margin-top: 15px;
}

.covid__info--box {
  display: flex;
  align-items: center;
  gap: 30px;
}

.covid__info--text__1 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 230px;
}

.covid__info--text__2 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.covid__info--text__red {
  color: #DB0000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 180px;
}

.covid__info--text__green {
  color: #05B135;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 150px;
}

.pink__span {
  display: inline-block;
  width: 2px;
  height: 49px;
  background: #EB5569;
  margin-left: 40px;
}

.pinker__span {
  display: inline-block;
  width: 2px;
  height: 49px;
  background: #F4CCD1;
}

.quarantine__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 20px;
}

.quarantine__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.quarantine__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.quarantine__img {
  width: 386px;
  height: 190px;
}

.quarantine__text {
  color: #202020;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 380px;
}

.quarantine__date {
  color: #6B6D97;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.quarantine__notification {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  background: rgba(239, 186, 84, 0.18);
  max-width: 1200px;
  padding: 28px 20px 24px 34px;
}

.quarantine__notification--image {
  width: 31px;
  height: 35px;
}

.quarantine__notification--text {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 220px;
}

.quarantine__notification--btn {
  border-radius: 5px;
  background: var(--ss, linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 100%));
  border: none;
  padding: 8px;
}
.quarantine__notification--btn a {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.quarantine__notification--btn:hover {
  background: #FFF;
  outline: 2px solid #FE5C28;
}
.quarantine__notification--btn:hover a {
  color: #FE5C28;
}/*# sourceMappingURL=main.css.map */