.covid__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.nrg__add {
  width: 1200px;
  height: 99px;
}

.covid__info {
  display: flex;
  align-items: center;
  height: 133px;
  border-radius: 5px;
  background: #F6F6F9;
  padding: 0px 64px 0px 64px;
  margin-top: 15px;
}

.covid__info--box {
  display: flex;
  align-items: center;
  gap: 30px;
}

.covid__info--text__1 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 230px;
}

.covid__info--text__2 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.covid__info--text__red {
  color: #DB0000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 180px;
}

.covid__info--text__green {
  color: #05B135;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 150px;
}

.pink__span {
  display: inline-block;
  width: 2px;
  height: 49px;
  background: #EB5569;
  margin-left: 40px;
}

.pinker__span {
  display: inline-block;
  width: 2px;
  height: 49px;
  background: #F4CCD1;
}